<div class="sidebar">
  <div class="">
    <div class="sidebar-about">
     <div align="center">
      <img src="{{ site.baseurl }}/images/profile.JPG" width="100px" height="100px" style="border-radius:50px">
      <p class="profile">Anshul Jain</p>
      <p class="profile">Android Developer</p>
    </div>
     <div>
      <p><span>Passionate about Java and Android. Interested in exploring new opportunities and working with passionate people</span>
      <span>Started Blogging to get a better understanding of some topics.</span></p>
      <div>
      <p>Connect with me</p>
      <a>Facebook</a>
      <a>LinkedIn</a>
      <a>Gmail</a>
      </div>
    </div>
    </div>
  </div>
</div>
