<div class="sidebar">
  <div class="">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          
        </a>

      </h3>
      <p>{{page.title}}</p>
      <p>{{page.description}}</p>
      {% for index in (0..page.text-to-display.size) %}
      <p><a href="{{page.url-to-go[index]}}">{{page.text-to-display[index]}}</a></p>
      {% endfor %}
    </div>


    <nav class="sidebar-nav">
    <div class="posts">
  {% for post in site.categories.gc %}
    <article >

      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.name}}</a></h4>

    </article>
  {% endfor %}
</div>
</nav>

  
  </div>
</div>
