<div class="sidebar">
  <div class="">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          Garbage Collection in Java
        </a>
      </h3>
      <p></p>
    </div>


    <nav class="sidebar-nav">
    <div class="posts">
  {% for post in site.posts %}
    <article >

      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.name}}</a></h4>

    </article>
  {% endfor %}
</div>
</nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
