<!DOCTYPE html>
<html>
<body>

<p style="font-size : 20px" >Click the button to trigger a function that will output "Hello World" in a p element with id="demo".</p>

<button style="font-size : 20px;" onclick="myFunction()">Share Test</button>

<p id="demo"></p>

<script>
function myFunction() {
      newsHuntAction.webShare('{\'packageName\' : \'com.whatsapp\', \'title\' : \'Share Title\',\'shareUrl\' : \'abc\',\'subject\' : \'Share Subject\',  \'shareUi\':\'tickerEmbed\', \'contentLanguage\':\'en\'}');

}
</script>

</body>
</html>

