<!DOCTYPE html>
<html lang="en-us">

  <!DOCTYPE html>
<html>
<body>
<p><a href="http://aamaadmiparty.org/">Aam Admi Party</a></p>
<p><a href="https://www.cleartrip.com/?gclid=EAIaIQobChMIz8fY5aiO2QIVCLjACh1oHwCvEAAYASAAEgKVJfD_BwE">Clear trip</a></p>
<p><a href="http://m.dailyhunt.in/news/india/english/sports-topics-17">Sports DeepLink</a></p>
</body>
</html>
  {% include head.html %}

  <body class="theme-base-08">

    {% include profile-sidebar.html %}

    <div class="content container">
      {{ content }}
    
    </div>

  </body>
</html>
